body {
  background-color: #ffffff;
  font-family: "Roboto";
  color: #434455;
}

.item {
  list-style: none;
}
.header-list {
  list-style: none;
}

.menu-list {
  list-style: none;
}

button {background-color: #4D5AE5; color:#ffffff;
cursor: pointer;}




.container-hero {background-color: #2E2F42; 
    X: 0px
    Y: 72px
    W: 1440px
    H: 600px;
     color: #ffffff;
   }
   
   .header-logo {text-transform: uppercase;}