body {
  background-color: #ffffff;
  font-family: "Roboto";
  color: #434455;
}

.item {
  list-style: none;
}
.header-list {
  list-style: none;
}

.menu-list {
  list-style: none;}

.menu-item {background: #FFFFFF;}   

button {background-color: #4D5AE5; color:#ffffff;
cursor: pointer;}




.container-hero {background-color: #2E2F42; 
    X: 0px
    Y: 72px
    W: 1440px
    H: 600px;
     color: #ffffff;
   }
   
    .text {font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 60px;}




      .container-our-team { background: #F4F4FD;
border: 1px solid #000000;
}


container-warewd {width: 1128px;
height: 412px; }

.menu-item list {background-color: #E7E9FC}

.h2 {font size: 36px;}



.h3{font size: 20px;}


.container-customers 
{background-color: #
width: 1128px;
  height: 200px;}
.menu-item-list {list-style: none;}


